/.vscode
/a.out
/bubbleSort
/bucketSort
/countSort
/heapsort
/heapsort_trail
/heapsort_trail.cpp
/insertionSort
/mergeSort
/mergeSort_trail
/mergeSort_trail.cpp
/quickSort_trail
/quickSort_trail.cpp
/quicksort
/radixSort
/selectionSort
/traversal
/try
/try.cpp